@tailwind base;
@tailwind components;
@tailwind utilities;

.cat_container {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.cat_container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
